<div>
 	<h1>Datalocker Inventory</h1>

 	<input type="text" ng-model="name" placeholder="Product Name">
 	<input type="text" ng-model="sku" placeholder="Product SKU">
 	<input type="number" ng-model="price" placeholder="Price of Product">

 	<button type="button" ng-click="postData()">Submit</button>
 	<button type="button" ng-click="seeData()">See Data</button>

 	<br>
 	<br>

 	<input type="text" ng-model="deleteId" placeholder="Product ID">
 	<button type="button" ng-click="deleteData()">Delete Product</button>
 	<br>
 	<br>

 	<button type="button" ng-click="uploadHistory()">Upload History</button>
 	<br>
 	<br>
 	<button type="button" ng-click="setNotifications()">Allow Notifications</button>
 	<br>
 	<br>

 	<ul ng-repeat="product in products">
 		<li>
 		  Product Name: {{product.name}},
 		  Product Sku: {{product.sku}},
 		  Price: {{product.price}}
 		  ID: {{product._id}}
 		</li>
 	</ul>
</div>